@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505; /* Deep Black */
  --foreground: #ededed; /* Off-white text */
  --accent: #262626;     /* Dark Gray borders */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar (Optional but looks pro) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}